<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{title}} - {{nickname}}<br><br><br>
    {{content}}<br><br>
    <a href="http://localhost:{{port}}/post/hashtag/{{hashtag}}"></a>
    <a href="http://localhost:{{port}}/post/like/{{id}}">👍🏻좋아요 {{like}}</a><br>
    ---------------------------------------------------------<br><br>
    {% if authority %}
    <form id= "form" action="/post/update/{{id}}" method="post">
        내용: <input type="text" name="content" style="width: 300px; height: 200px"><br>
        <button type="submit">수정완료</button><br><br>
    </form>
    <a href="http://localhost:{{port}}/post/delete/{{id}}">글 삭제</a>
    {% endif %}

    <form id="form" action="/comment/commenting/{{id}}/" method="post">
        
        댓글: <input type="text" name="comments" style="width: 300px; height: 50px"><br>
        <br>
        <button type="submit">댓글 작성</button><br>
        ---------------------------------------------------------<br>
    </form>        
    
    <h3>댓글</h3>
        {% for v in comments %}
        {{v[0]}}   (작성자: {{v[1]}}) <br>
        {% if v[3] %}
        <form action="/comment/update/{{id}}/{{v[2]}}"  method="post">
            내용: <input type="text" name="comments">
            <button type="submit">수정완료</button><br>
            <a href="http://localhost:{{port}}/comment/delete/{{id}}/{{v[2]}}">댓글 삭제</a><br>--------------------------------------------------------- 
        </form>
        {% endif %}
        {% endfor %}
</body>
</html>